body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007bff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.recipe-item {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-actions {
    display: flex;
    gap: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5em;
}

.form-group input, .form-group textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-start;
}

.add-button {
    align-self: center;
}

.buttons:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
