<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/recipes">Recipes</a>
    </nav>
    <div class="container">
        <h1>Welcome to Recipe App</h1>
        <form action="/recipes" method="GET">
            <button type="submit" class="buttons show-recipe-button">Show Recipes</button>
        </form>
    </div>
</body>
</html>
